@charset "UTF-8";

/* Paleta de cores do projeto
    #242526
    #414344
    #090B0D
    #505152
    #7e7e7e
    #F2F2F2
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #242526;
    height: 100vh;
    width: 100vw;
 }

 main {
    position: relative;
    height: 100vh;
    width: 100vw;
 }

 #login { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
 }

 #login > #imagem {
    display: block;
    background: #242526 url(../components/imagens/pattern.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
 }

 #login > #form {
    display: block;
    padding: 10px;
 }

 #form > h1 {
   text-align: center;
   margin-bottom: 10px;
 }

 #form > p { 
   font-size: 0.8em;
   text-shadow: .5px 0px rgb(59, 59, 59);
 }

form > .campo {
   background-color: #242526;  
   border: 2px solid #242526;
   display: block;
   width: 100%;
   height: 40px;
   border-radius: 8px;
   margin: 5px 0px;
}

.campo > label {
   display: none;
}

.campo > span {
   color: white;
   font-size: 2em;
   width: 40px;
   padding: 5px;
}

.campo > input {

   background-color: #F2F2F2;
   font-size: 1em;
   width: calc(100% - 46px);
   height: 100%;
   transform: translateY(-12px);
   border: 0px;
   border-radius: 8px;
   padding: 4px;
}

.campo > input:focus-within {
   background-color: white;
   border: none;
   transition: .5s;
}

 form > input[type=submit] {
   display: block;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #414344;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 form > input[type=submit]:hover {
   background-color: #090B0D;
   transition: 0.5s;
 }

 form > a.botao {
   display: block;
   text-align: center;
   font-size: 1em;
   width: 100%;
   height: 40px;
   padding-top: 5px;
   margin-top: 5px;
   background-color: white;
   color: #7e7e7e;
   border: 1px solid #505152;
   border-radius: 5px;
   text-decoration: none;
}

form > a.botao:hover {
   background-color: #090B0D;
   transition: 0.5s;
}

form > a.botao > span {
   font-size: 0.8em;
}